<h2>All Candidates</h2>
    <div class= "candidate_cards">
      <% @candidates.each do |candidate|%>
          <div class="card-image">
              <a href="/candidates/<%=candidate.id%>"><div class="img" style="background-image:url(<%=candidate.image%>);"></div></a>
            <div class="card-body">
              <p><%=candidate.name%></p>
            </div>
          </div>
    <% end%>
  </div>
