<h2>All Candidates</h2>
    <div class= "candidate_cards">
      <% @candidates.each do |candidate|%>
          <div class="card-image">
              <a href="/candidates/<%=candidate.id%>"><div class="img" style="background-image:url(<%=candidate.image%>);"></div></a>
            <div class="card-body">
              <%if candidate.in_race %>
                <p><%=candidate.name%></p>
              <% else %>
                <p><%=candidate.name%> <span class="out_of_race_text">(Dropped out)</span></p>
              <% end %>
            </div>
          </div>
    <% end%>
  </div>
