/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   box-sizing: border-box;
 }

 h1 {
   font-family: 'Minion Pro', serif;
   font-weight: lighter;
   font-size: 42px;
 }

 h2 {
   font-family: 'Brandon Grotesque', sans-serif;
   font-weight: lighter;
 }

 h3 {
   font-family: 'Garamond', serif;
   font-size: 22px;
   font-weight: lighter;
   text-decoration: none;
   font-style: italic;
   color: black;
 }

 h3 a {
   font-family: 'Garamond', serif;
   font-size: 22px;
   font-weight: lighter;
   text-decoration: none;
   font-style: italic;
   color: black;
 }

 h3 a:hover {
   color: blue;
   font-size: 23px;
 }

 body {
   font-family: 'NYT Imperial', sans-serif;
   font-weight: lighter;
   text-align: center;
   margin-top:0;
 }

 .nav_bar {
   display: flex;
   justify-content: space-between;
   width: 100%;
   border-bottom-style: double;
   border-bottom-color: rgba(21, 21, 21, 0.1);
   position: fixed;
   background-color: #fff;
 }

 .nav_bar .nav-list {
   margin-left: 60px;
   margin-right: 100px;
 }

 .nav-list h1 {
   text-align:center;
 }

 .main_logo {
   margin-top: 60px;
 }

 div.nav_items {
   display: flex;
   justify-content: space-between;
   width: 125%;
 }

 p.nav_item a {
   padding: 8px;
   text-decoration: none;
   border-radius: 3px;
   color: rgba(12, 105, 235, 0.5);
 }

 p.nav_item a:hover {
   background-color:rgba(153, 204, 255, 0.2);
   color: black;
 }

.candidate_cards {
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
}

.card-image {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 4px;
  margin-bottom: 10px;
}

.card-image .img {
  height: 350px;
  width: 242px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.card-image:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.25);
}

.candidate_container {
  margin: 30px;
  display:flex;
  justify-content: space-between;
}

.candidate_title {
  margin-top: -50px;
}

.candidate_basics {
  border: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 10px;
  width: 30%;
  height: 600px;
  overflow: auto
}

.candidate_basics img {
    border-radius: 10px;
}

.candidate_policies {
  border: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 10px;
  width: 30%;
  height: 600px;
  overflow: auto
}

.candidate_articles {
  border: 1px solid rgba(21, 21, 21, 0.1);
  border-radius: 10px;
  width: 30%;
  height: 600px;
  overflow: auto
}

.text-justify {
  text-align: justify;
  text-align-last: center;
  margin: 20px;
}

/* TWITTER BUTTON */
.fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background-image: radial-gradient(#55ACEE, rgb(42, 0, 192));
  color: white;
}

/* POLICY */
.policy_header {
  width: 75%;
  margin: auto;
  margin-top: -30px;
  border: 1px dashed rgba(21, 21, 21, 0.1);
}

.policy_thread {
  width: 75%;
  text-align: justify;
  margin: auto;
}

/* Candidate show page refresh button */
.reload {
  background-color: none;
}

.reload svg{
  width: 20px;
  height: 20px;
  fill: rgba(85, 172, 238, 0.5);
}

.reload svg:hover {
  width: 20px;
  height: 20px;
  fill: rgba(85, 172, 238, 0.8);
  cursor: pointer;
}

form#new_article.new_article button {
  background-color: transparent;
  border: none;
}

form#new_article.new_article button:focus {
  outline: 0;
}

.animate {
  margin-top: -50px;
  background-color: none;
  border: none;
  color: black;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.animate span {
  margin-top: -50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animate span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: rgb(42, 0, 192);
}

.animate:hover span {
  padding-right: 25px;
}

.animate:hover span:after {
  opacity: 1;
  right: 0;
}

h1#candidate_name {
  margin: 0px 0px;
}

/* USER HOME PAGE */
div.user_home_posts {
  width: 50%;
  text-align: justify;
  margin: auto;
}

div.double_bottom_border {
  border-bottom-style: double;
  border-bottom-color: rgba(21, 21, 21, 0.1);
}

.bit_o_left_margin {
  margin-left: 70px;
}

.bit_o_left_margin {
  margin-right: 70px;
}

.emphasis {
  font-size: 18px;
}

.de-emphasis {
  font-size: 14px;
}

.negative_margin {
  margin-top: -20px;
}

.profile_name {
  margin-top: 0px;
}

.policy_image {
  height: 150px;
}

.policy_card {
  display: flex;
  width: 30%;
  margin: auto;
}

.policy_item {
  justify-content: flex-start;
  text-align: justify;
  text-align-last:center;
}

.description {
  margin-top: 50px;
  margin-left: 10px;
}
